/* App Komponente */

.reddit-mono-200 {
  font-family: 'Reddit Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* #firstName:hover {
  color: grey;
} */

.heart {
  position: absolute;
  top: 0;
  left: 10px;
}

.child {
  position: absolute;
  top: 0;
}

.child-1 {
  font-size: 200px;
  /* border: 2px solid blue; */
  text-transform: uppercase;
  right: 10px;
}

.child-2 {
  font-size: 200px;
  /* border: 2px solid red; */
  text-transform: uppercase;
  right: 10px;
}

.parent {
  position: relative;
  /* border: 2px solid green; */
  height: clamp(50px, 12.5vw, 230px);
  border-bottom: 2px solid black;
}

.menu {
  position: sticky;
  top: 0;
  display: flex;
  text-align: left;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  padding-top: 32px; /* px={2} in Material-UI */
  padding-left: 16px;
  padding-right: 16px;
}

/* Responsive Border: */
.border {
  border-style: solid;
  border-color: black;
}
.border-tb {
  border-top-style: solid;
  border-top-color: black;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.border-top {
  border-top-style: solid;
  border-top-color: black;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-color: black;
}

.border-left {
  border-left-style: solid;
  border-left-color: black;
}

.border-right {
  border-right-style: solid;
  border-right-color: black;
}

@media (max-width: 600px) {
  .responsive-border {
    border-width: 2px;
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  .responsive-border {
    border-width: 2px;
  }
}

@media (min-width: 961px) and (max-width: 1280px) {
  .responsive-border {
    border-width: 2px;
  }
}

@media (min-width: 1281px) {
  .responsive-border {
    border-width: 2px;
  }
}
