/* App Komponente */

.reddit-mono-200 {
  font-family: 'Reddit Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.menu {
  /* position: sticky;
  top: 0px; */
  display: flex;
  text-align: left;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  padding: 16px;
}

.child {
  position: absolute;
  top: 0;
}

.child-1 {
  font-size: 200px;
  /* border: 2px solid blue; */
  text-transform: uppercase;
  right: 10px;
}

.child-2 {
  font-size: 200px;
  /* border: 2px solid red; */
  text-transform: uppercase;
  right: 10px;
}

.heart {
  position: absolute;
  top: 0;
  left: 10px;
}

.parent {
  position: relative;
  /* border: 2px solid green; */
  height: clamp(50px, 12.5vw, 230px);
  border-bottom: 2px solid black;
}

.text-justify {
  text-align: justify;
  text-transform: uppercase;
  padding: 32px;
}

.flex-box {
  display: flex;
  justify-content: space-between; /* Space between für left and right alignment */
  align-items: center;
  width: 100%;

  padding: 16px;
}

.flex-header-right {
  text-align: right;
  font-size: 80px;
  font-weight: 300;
  line-height: 0.8;
  cursor: pointer;
  text-transform: uppercase;
}

.flex-header-left {
  text-align: left;
  font-size: 100px;
  font-weight: 300;
  line-height: 0.8;
  cursor: pointer;
  text-transform: uppercase;
}

.flex-content-right {
  text-align: right;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  cursor: pointer;
}
.flex-content-left {
  text-align: left;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  cursor: pointer;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  gap: 20px; /* Optional, fügt Abstand zwischen den Icons hinzu */
}

/* Responsive Border: */
.border {
  border-style: solid;
  border-color: black;
}
.border-tb {
  border-top-style: solid;
  border-top-color: black;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.border-top {
  border-top-style: solid;
  border-top-color: black;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-color: black;
}

.border-left {
  border-left-style: solid;
  border-left-color: black;
}

.border-right {
  border-right-style: solid;
  border-right-color: black;
}

@media (max-width: 600px) {
  .responsive-border {
    border-width: 2px;
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  .responsive-border {
    border-width: 2px;
  }
}

@media (min-width: 961px) and (max-width: 1280px) {
  .responsive-border {
    border-width: 2px;
  }
}

@media (min-width: 1281px) {
  .responsive-border {
    border-width: 2px;
  }
}
