* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 200 to 900 */

.reddit-mono-portfolio {
  font-family: 'Reddit Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

/* #root {
  border: 2px solid blue;
}

body {
  border: 2px solid green;
}

html {
  border: 2px solid yellow;
} */

body {
  font-family: 'Reddit Mono', monospace;
  font-weight: 200;
  background-color: #f0f0f0;
}
